---
layout: default
---

<div class="container">
  <div class="grid-4">
    <div class="column-1">
      <div
        class="landing-page__call-to-action"
        style="background: url(/assets/images/ffflux.svg) 50% / cover no-repeat"
        dir="ltr"
      >
        <div class="row">
          <div class="row__information-board">
            {% if page.users %}
            <div class="information-board__section">
              <span>Home to</span>
              <strong>{{ page.users }}</strong>
              <span>users</span>
            </div>
            <div class="information-board__section">
              <span>Who authored</span>
              <strong>{{ site.posts | size }}</strong>
              <span>posts</span>
            </div>
            {% else %}
            <div class="information-board__section">
              <span>This site has</span>
              <strong>{{ site.posts | size }}</strong>
              <span>posts</span>
            </div>
            {% endif %}
          </div>
          <div class="row__mascot">
            <div class="landing-page__mascot">
              <img
                src="/assets/images/man-working-remotely-and-drinking-coffee.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-2">
      <div class="contact-widget">
        <h4>Administered by:</h4>
        <div class="account">
          <div class="account__wrapper">
            <span class="account__display-name">
              <div class="account__avatar-wrapper">
                <img
                  class="account__avatar"
                  src="{{ page.avatar.path | relative_url }}"
                />
              </div>
              <span class="display-name">
                <bdi>
                  <strong class="display-name__html"
                    >{{ page.author.name }}</strong
                  >
                </bdi>
                <span class="display-name__account"
                  >{{ page.author.handle }}</span
                >
              </span>
            </span>
          </div>
        </div>
        {% if page.author.email %}
        <h4>Contact:</h4>
        <a href="mailto:{{ page.author.email }}">{{ page.author.email }}</a>
        {% endif %}
      </div>
    </div>
    <div class="column-3" style="grid-column: 1/5">
      <div class="box-widget">
        <div class="rich-formatting">
          {% if page.title %}
          <h1 id="content">{{ page.title }}</h1>
          {% endif %} {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
